In [5]:
x=10
y=20.5

In [2]:
a='fifa'
print(a)

fifa

In [3]:
print(type(a))

<class 'str'>

In [6]:
print(type(y))

<class 'float'>

In [8]:
a='fifa'
b='worldcup'
print(a+' '+b)

fifa worldcup

In [9]:
a='fifffa'

In [10]:
print(a)

fifffa

In [13]:
a=10
print(a)

10

In [14]:
a=a+20
print(a)

30

In [17]:
a=20
b='age'

In [19]:
print("Your "+b+' is '+ str(a))

Your age is 20

In [20]:
cnt=20
print(" The record unloaded from the table is ",str(cnt))

 The record unloaded from the table is  20

In [21]:
lst=[105,102,506,456]
# element --- index -- starts from 0

In [25]:
lst[-2]

506

In [27]:
lst[3]

456

In [28]:
print(type(lst))

<class 'list'>

In [ ]:
lst=[10,20,'abd','40']
wants to sum 2nd and last element

In [30]:
lst[0]=200

In [31]:
lst

[200, 102, 506, 456]

In [32]:
tpl=(10,20,30)

In [33]:
print(type(tpl))

<class 'tuple'>

In [37]:
tpl[1]=300

TypeError: 'tuple' object does not support item assignment

In [38]:
tpl[3]

IndexError: tuple index out of range

In [41]:
d1={"name" : "jesse"}
print(d1)
print(type(d1))

{'name': 'jesse'}
<class 'dict'>

In [44]:
d2={"name" : "jesse","name1" : "jesse"}

In [45]:
print(d2)

{'name': 'jesse', 'name1': 'jesse'}

In [48]:
str="jess abc"
str[-1]

'c'

In [50]:
a=10
b=30
c=a+b
print(c)

40

In [51]:
txt = "hello, and welcome to my world."

x = txt.upper()

print (x)

HELLO, AND WELCOME TO MY WORLD.

In [53]:
lst=["sanjeeb","panda"]
# (" Friend name is Sanjeeb Panda")

In [54]:
print(f"Friend name is {lst[0].capitalize()} {lst[1].capitalize()} ")

Friend name is Sanjeeb Panda

In [57]:
x="100"
y=f"panda {x}"
print(y)

panda 100

In [60]:
d1={"k1":"30","k1":"30"}

In [61]:
d1

{'k1': '30'}

In [64]:
d1=[10,20,30]
for i in d1:
    print(i+10)

20
30
40

In [63]:
d='abdbede'
for i in d:
    print(i)

a
b
d
b
e
d
e

In [70]:
x=50

In [68]:
if x >20:
    print("x is greater than 20")
else:
    print("x is less than 20")

x is less than 20

In [71]:
if x <20:
    print("x is greater than 20")
elif x >20 and x<40:
    print(" x is medium number")
else:
    print(" x is big number")

 x is big number

In [74]:
lst=[]
for i in list(range(1,10)):
    lst[i]=i+20

lst

IndexError: list assignment index out of range

In [ ]:
create a llst with 10 integers starting with 10 and each integer having +100 from last one

In [75]:
list=[]
for i in range(0,10):
    list.append(10+ i*100)

In [76]:
print(list)

[10, 110, 210, 310, 410, 510, 610, 710, 810, 910]

In [ ]:
if number is divisible by 9 then create another list1

In [ ]:
list=[]
divList=[]
for i in range(0,10):
    x=10 + 100 * i
    list.append(x)
    if x % 9 == 0:
        divList.append(x)
print(divList)

In [78]:
d1={"k1":10,"k2":20,"k333":30,"k4":50}
lst=[10,20,30,50]

In [86]:
x=d1.values()
print(type(x))

print(x)
y=d1.items()
print(y)
z=d1.keys()
print(z)

<class 'dict_values'>
dict_values([10, 20, 30, 50])
dict_items([('k1', 10), ('k2', 20), ('k3', 30), ('k4', 50)])
dict_keys(['k1', 'k2', 'k3', 'k4'])

In [ ]:
d1={"k1":10,"k332":20,"k333":30,"k424":50}

if the length of the key is more then 3 then create the list
lst=[50]

In [ ]:
d1={"k1":10,"k2":20,"k3":30,"k4":50}
if the value is more than 30 then change it to 0

In [ ]:
d1={"k1":10,"k2":20,"k3":30,"k4":50}

lst = [key for key in d1.keys() if len(key) > 3]

for k1 in d1.keys():
    if len(k1) >3:
        print(x)

In [ ]:
how to check if k1 in d1

In [ ]:
lst=[10,20,34,55,30,90]
sort the list writing logic
output=[10,20,30,34,55,90]
s1="footbal match"
create a dict where key is the chracter in the s1 and value is number of times the character is in s1
ex:
d1={"f":1,"o":2}

In [ ]:
d1={"a":10,"b":30}

In [91]:
lst1=[10,20,40,50,40,40,20,30,50,10,10,20]
lst2=[30,40,60,60,40,20,30,20,30,30]

# elements in lst1 also in lst

In [89]:
d1=[]
for i in lst:
    if i in lst1:
        d1.append(i)
print(d1)

[40]

In [92]:
set(lst2)

{20, 30, 40, 60}

In [94]:
def functionName(x,y,k=10):
    z=x*1+y*2+k
    return z

In [95]:
functionName(20,40)

110

In [96]:
functionName(20,40,100)

200

In [102]:
def functionName1(x,y,k=10,d=30):
    z=x*1+y*2+k+d
    return z,d

In [105]:
output=functionName1(20,40,100)

In [108]:
type(output)

tuple

In [110]:
output[0],output[1]

(230, 30)

In [111]:
def functionName1(x,y,k=10,d=30):
    z=x*1+y*2+k+d

In [113]:
functionName1(10,20)

In [ ]:
write a function to take input a list and value -- check if value exists then return the value else NULL
Write a function to take input a list and check if list  any element if yes then retunr len of the list else Nll

In [118]:
def checkValueExistance(x:list, y:int):
    if y in x:
        return y
print(checkValueExistance([10,20],10))
print(checkValueExistance([10,20],30))

10
None

In [ ]:
def fn ():
    x=checkValueExistance([10,20],10)
    x=x+2000
    return x

In [ ]:
1. Write a function to check elemnt if its divisible by 2 if true return elemnt else NULL
2. Call that function in another function to do a square and then return the value

In [ ]:
True/False

In [ ]:
def divBy2(ele):
    return ele % 2 == 0
def SquareEvens(ele):
    if divBy2(ele):
        return ele*ele

In [119]:
x = lambda a, b, c: a + b + c
print(x(5, 6, 2))

13

In [121]:
def sumfun(a,b,c):
    return a+b+c

In [122]:
x = lambda a, b, c: a + b + c
print(sumfun(5, 6, 2))

13

In [ ]:
x=10

def xyz():
    return

if __name__=='__main__':  
    10=xyz()  
    print('Called from the ScriptP1.')  
else:  
    print('ScriptP1 is imported into another file.')

In [130]:
import pandas as pd
import numpy as np

In [127]:
data = {'name': ['Xavier', 'Ann', 'Jana', 'Yi', 'Robin', 'Amal', 'Nori'],
       'city': ['Mexico City', 'Toronto', 'Prague', 'Shanghai', 'Manchester', 'Cairo', 'Osaka'],}
row_labels = [101, 102, 103, 104, 105, 106, 107]

In [131]:
d1 = pd.DataFrame(data=data, index=row_labels)

In [132]:
d1.head(3)

       name         city
101  Xavier  Mexico City
102     Ann      Toronto
103    Jana       Prague

In [136]:
d1[['city','name']]

            city    name
101  Mexico City  Xavier
102      Toronto     Ann
103       Prague    Jana
104     Shanghai      Yi
105   Manchester   Robin
106        Cairo    Amal
107        Osaka    Nori

In [137]:
df.city

101    Mexico City
102        Toronto
103         Prague
104       Shanghai
105     Manchester
106          Cairo
107          Osaka
Name: city, dtype: object

In [ ]:
lst=['mike','ram','mike','bro','ram','mike']
d={'mike':3,}

In [ ]:
d={}
for i in set(lst):
    d[i]=lst.count(i)